valgrind-out.txt
.cache/
.gdbinit
asteroids
*.exe
asteroids_debug
compile_commands.json
exception.log
obj/
*.pc
/dep/
/.vs/
*.sln
*.vcxproj*
/bin
.project
.cproject
/.settings/
/x64/